
<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="pull-left"><span class="glyphicon glyphicon-cutlery"></span>&nbsp;Wild Game Dinner</h3>
        
        <h3 class="pull-right">
            <small><i class="fa fa-calendar"></i>&nbsp;Saturday, April 19th 2014<br /> 
            <a target="_blank" href="https://maps.google.com/maps?q=1800+E.+Parish+Rd.+Kawkawlin,+MI+48631&hnear=1800+E+Parish+Rd,+Kawkawlin,+Bay,+Michigan+48631&gl=us&t=m&z=16">
            <i class="fa fa-map-marker"></i>&nbsp;1800 E. Parish Rd. Kawkawlin, MI 48631</a></small>
        </h3>
        
        <div class="clearfix"></div>

        Come enjoy a fun filled night at the Kawkawlin Twp. Hall with fellow sportsman and pay homage to this great country and the 
        fine men and wormen that protect it and us. Dinner will be prepared by Executive Chef Jeff Langer, 
        Chef John Gorm and Chef Dan Kiley. Menu to include Venison Meat Balls, Alligator, Cajun Perch, 
        Rabbit, Broiled Ham, Prime Rib, White Fish Perogis, Smoked Duck Breast Perogis, also 2 drink tickets 
        with additional tickets available. Top three door prizes from dinner ticket will be 1st patriotic 
        AR-15, 2nd Winchester SX3, Tikka T3 30-06 and lost of other door prizes. 50/50 raffles card gun 
        drawings doard gun drawing muzzle loaders, crossbow and more. <br /><br />
        
        Dinner tickets are $50.00 and will be limited. To purchase a ticket you must contact Scott Fowler at (989) 233-3449.<br /><br />
        
        ** Special Note: Dinner Sponsors are needed, and will be advertised. For more information on how you could become 
        a sponsor click <a href="contact.html">here</a> and fill out the form or contact either Scott Fowler at (989) 233-3449, 
        Zac Fowler at (989)213-2660, or Andy Fisk at (989)225-6574.<br /><br />
        
        <a class="btn btn-success" href="docs/Dinner_Party_Flyer_2014.pdf" target="_blank"><i class="fa fa-download"></i>&nbsp;Download The Flier</a>
    </div>
</div>
    
<div class="row">    
    <div class="col-sm-5">
        <div class="panel panel-default">
        <div class="panel-heading"> <h3 class="panel-title"><b>Dinner Events Timetable</b></h3></div>
            <div class="panel-body"> 
                <table class="table table-bordere table-condensedd">
                    <tr><td>5:00</td><td>Social Hour</td></tr>
                    <tr><td rowspan="3">6:00</td><td> Opening Ceremony - Welcoming to the 1st Annual Waterfowler’s for Warriors Wild Game Dinner</td></tr>
                    <tr><td>Presenting of the colors and National Anthem</td></tr>
                    <tr><td>MCOA - Presenting of the colors to be presented by TBD – And National Anthem either recorded or live TBD</td></tr>
                    <tr><td>6:30</td><td>Meal Blessing then dinner</td></tr>
                    <tr><td rowspan="5">8:00</td><td>Honor Fallen Soldier Table W/Video</td></tr>
                    <tr><td>Raise glasses for a silent toast in Honor</td></tr>
                    <tr><td>Toms Talk</td></tr>
                    <tr><td>Guest Speaker</td></tr>
                    <tr><td>Guest Speaker</td></tr>
                    <tr><td>9:00</td><td>Gun Drawings,Boards,Raffles</td></tr>
                    <tr><td>11:00</td><td>Wrap up</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>