<div class="panel panel-default">
    <div class="panel-body"> 
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail director-pic">
                    <img src="/images/scott-fowler.jpg" class="img-responsive" alt="Scott Fowler" />
                </div>                
                    
                <h3 class="" style="margin-top:0;">President <small>Scott M. Fowler</small></h3>
                        
                I am 48, Served in the USAF Nuclear ICBM missile weapons systems for almost  8 years. Been married to 
                my lovely Bride for 26 years, both incredible wife and mother. We have two sons Zachary, 22, born as a 
                military brat and Brady, 17, both great kids. I have had the opportunity to have resided and hunted all 
                over the northern states and Canada. From the Rocky Mountains to Fly-in hunts in Northern Quebec.  
                My wife and I were born and raised in Michigan we have lived in N. Dakota, Minnesota, Montana, Idaho 
                and Alaska.  Too often people forget this great country we live in and take stuff for granted. Also they 
                forget the reason our country is so great is because of the men and women that defend it. So a salute 
                and a big thanks, May god bless You all. I look forward to meeting each of you and look forward to a life 
                long friendship. Ahead of time I apologize I am no scholar so excuse the grammar and punctuation.  
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default"> 
    <div class="panel-body"> 
        <div class="row">
            <div class="col-xs-12">
                <div class="thumbnail director-pic">
                    <img src="/images/tom-gravlin.jpg" class="img-responsive" alt="Tomas Gravlin" />
                </div>                
                
                <h3 class="" style="margin-top:0;">Vice President <small>Tomas Gravlin</small></h3>
                
                My name is Thomas Gravlin I am 43 years old I  have 3 kids and I am engaged to Georgette 
                Wilczynski  I work at Linwood Beach Marina & Campground, in my spare time I  like to ride 
                my Harley and take family vacations. I enjoy family dinners and spending time with friends. I 
                am very excited about the Waterfowlers for Warriors dinner we are having. To help the fallen 
                and wounded soldiers there is nothing more I would rather be doing.
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body"> 
        <div class="row">
            <div class="col-xs-12">
                <div class="thumbnail director-pic">
                    <img src="/images/belinda-fowler.jpg" class="img-responsive" alt="Belinda Fowler" />
                </div>                
                    
                <h3 class="" style="margin-top:0;">Treasurer <small>Belinda Fowler</small></h3>
                
                Hello, My name is Belinda Fowler. I am married to the wonderful man (for 26 years) who is 
                responsible for putting this hunt together. We got married in 1987, right after his basic 
                training from the Air Force which he served almost 8 years. We were stationed in North 
                Dakota and Montana. Both states we met wonderful people, both in the service and out,
                in which we still talk to. I don't regret the decision we made. I work for the Department of 
                Human Services in Bay City. I have 2 wonderful boys who both enjoy hunting with their 
                father and support the military strongly the same as my husband and myself. I have 
                done my fair share of hunting in the past to include shooting small game, birds, deer, 
                antelope, caribou, wild boar, bear, buffalo and a Hawaiian sheep. Although gopher 
                hunting in Montana was my favorite. Shooting clay targets is not my strong point as I 
                miss alot of them, lol. I enjoy spending time with my family whether it is indoors or 
                outdoors, and helping raise money for for our well deserved military. Thank you for all 
                you have done.
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body"> 
        <div class="row">
            <div class="col-xs-12">
                <div class="thumbnail director-pic">
                    <img src="/images/zach-fowler.jpg" class="img-responsive" alt="Tomas Gravlin" />
                </div>                
                    
                <h3 class="" style="margin-top:0;">Secretary <small>Zachary Fowler</small></h3>
                
                My name is Zach Fowler. I am 22 years old and live in Bay City with my wonderful girlfriend 
                Stephanie and our bulldog Harley. I work in Saginaw at Glastender where we manufacture bar 
                equipment. I enjoy hunting everything all the way from small game or waterfowl to big game or 
                just shooting skeet. I also love riding motorcycles, road and dirt. I have a strong passion for
                doing my part to help our veterans and show appreciation for everything they have done for our
                country.
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body"> 
        <div class="row">
            <div class="col-xs-12">
                <div class="thumbnail director-pic">
                    <img src="/images/andy-fisk.jpg" class="img-responsive" alt="Andy Fisk" />
                </div>                
                    
                <h3 class="" style="margin-top:0;">V.P. Marketing <small>Andy Fisk</small></h3>
                
                My name is Andrew Fisk. I am a four year veteran of the U.S. Navy Seabees. I did three tours 
                with NMCB 133 where I was a Construction Electrician. I had jobs and duties such as water 
                well, camp maintenance, firearms instructor, funeral detail and disaster recovery. I have been out
                of the service since September of 2007. I work at Nexteer Automotive where I am an Electrical 
                Apprentice and live in Saginaw County. In my spare time I enjoy the outdoors. I thoroughly 
                enjoy whitetail deer hunting during archery and rifle seasons.  I also am a big fisherman. I enjoy 
                all types of fishing, from ice fishing, fly fishing for salmon and steelhead to trolling the Saginaw 
                Bay for walleye. I also enjoy small game, upland bird and waterfowl hunting. Other outdoor 
                activities I enjoy are camping, trail riding, canoeing and just being out in nature. Most 
                importantly I would like to say “Thank You” for your service. I also look forward to the chance 
                at meeting you at one of our events. 
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body"> 
        <div class="row">
            <div class="col-xs-12">
                <!--
                <div class="thumbnail director-pic">
                    <img src="/images/tom-gravlin.jpg" class="img-responsive" alt="Tomas Gravlin" />
                </div>                
-->
                    
                <h3 class="" style="margin-top:0;">V.P. Sales <small>Tyler Carlson</small></h3>
                
                Hi, My name is Tyler Carlson. I am 26 years old and live in Bay City, MI. I currently work as a 
                machinist at Kerkau Manufacturing in Bay City, MI. I am passionate about anything to do with 
                the outdoors. I mostly enjo y hunting in the winter and fishing in the summer. I also enjoy 
                boating, camping and restoring old cars. I am a strong supporter of the military and everything 
                that they have done for me and my country.
            </div>
        </div>
    </div>
</div>