<div class="panel panel-default">
    <div class="panel-body">
        <h4>Donate Any Amount</h4>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="344G9RYHU3ZFL">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-flag-o"></i> Local Donation Sponsor $100</h4>
        
        <ul>
            <li>This sponsorship level is an affordable level to help fund our events and show Patriotism for our vets.</li>
            <li>Your name or Organization will be displayed on a Donor Board or banner at all Events.</li>
        </ul>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3S8LERUPSW952">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
        
<div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-flag-o"></i> Veteran Sponsor $250</h4>
        
        <ul>
            <li>This sponsorship helps veterans who would not otherwise be able to attend.</li>
            <li>All Sponsors are mentioned at Patriot Hunt activities and the Wild Game banquet. Your mane or Organization will be posted on a Sponsor board or banner at all events.</li>
        </ul>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3S8LERUPSW952">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
        
<div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-flag-o"></i> Saginaw Bay Sponsor $500</h4>
        
        <ul>
            <li>Small corporate name and logo on publications printed after sponsorship commitment.</li>
            <li>Your Banner (not to exceed 48" x 18") displayed prominently at all event location.</li>
        </ul>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3S8LERUPSW952">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
        
<div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-flag-o"></i> Diver Duck Sponsor $1,000</h4>
        
        <ul>
            <li>Medium corporate name and logo on publications printed after sponsorship commitment.</li>
            <li>Your Banner (not to exceed 48" x 18") displayed prominently at event location.</li>
        </ul>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3S8LERUPSW952">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
        
<div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-flag-o"></i> Gold Goose Sponsor $2,500</h4>
        
        <ul>
            <li>Half page ad in the event programs.</li>
            <li>Large corporate name and logo on publications printed after sponsorship commitment.</li>
            <li>We provides one 60" x 36" name and/or logo company banner, displayed prominently at event location</li>
            <li>Web-site link to your business on www.waterfowlersforwarriors.org</li>
        </ul>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3S8LERUPSW952">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
            
<div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-flag-o"></i> Patriot Sponsor $5,000</h4>
        
        <ul>
            <li>Complimentary Events: Captains’ & Veterans’ meeting & dinner,Patriot Duck Hunt</li>
            <li>Full page ad in event program.</li>
            <li>Large corporate name and a logo listing on publications printed after sponsorship commitment.</li>
            <li>We provides one 10' name and/or logo company banner, displayed prominently at event location.</li>
            <li>Web-site link to your business on www.waterfowlersforwarriors.com</li>
        </ul>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3S8LERUPSW952">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
        
<div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-flag-o"></i> Red White and Blue Sponsor $10,000</h4>
        
        <ul>
            <li>Exclusive category name/logo designation as presenting sponsor on all promotional materials.</li>
            <li>Full page ad and welcome letter from your company’s CEO in the event program.</li>
            <li>Presenting sponsor listing and mentions including stage presentations, event promotions, and print and broadcast interviews.</li>
            <li>20’ primary event signage prominently displayed over main stage and all event areas as</li>
        </ul>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3S8LERUPSW952">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>