
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="pull-left"><i class="fa fa-bullseye"></i>&nbsp;Veterans Guided Duck Hunt</h3>
                
                <h3 class="pull-right">
                    <small><i class="fa fa-calendar"></i>&nbsp;Saturday, Nov. 1st 2014<br /> 
                    <a target="_blank" href="https://maps.google.com/maps?q=135+S.+Linwood+Beach+Linwood,+MI+48634&ll=43.734096,-83.946211&spn=0.010186,0.010407&hnear=135+S+Linwood+Beach+Rd,+Linwood,+Michigan+48634&gl=us&t=m&z=16">
                    <i class="fa fa-map-marker"></i>&nbsp;135 S Linwood Beach Rd Linwood, MI 48634 ‎</a></small>
                </h3>
                
                <div class="clearfix"></div>
                
                <p>More details comming soon...</p>
            </div>
        </div>