
<div class="panel panel-default">
    <div class="panel-body"> 
        <h4><span class="hidden-sm glyphicon glyphicon-user"></span>&nbsp;Veteran Profile</h4>
    
        <img class="pull-right space-left" src="/images/soldier-siloutte.jpg" alt="Soldier" />
        
        <p>Welcome to the Waterfowler’s for Warrior’s Web Page. We try and provide lasting memories, a fun 
atmosphere and always with safety our utmost priority. We strive to build a Brotherhood.  We started 
out with 4 Disabled Veterans our first year, It was a huge success. We try bringing back every year the 
guys from the past hunts. We will continue to add guys as long as we can get the local support of boats 
and equipment. We have expanded dramatically, added chapters in Alaska and Pennsylvania and are 
adding regions in some states. This allows us to do more with the funds and place Veterans to local 
            events.</p>

<p>I want to find out a little about each of you, I wish I could accommodate everyone but unfortunately we 
can not. Each year we will Team up Disabled  Vets with groups of boat captains and their teams, this is 
the reason for the application. Different types of hunts for all our Vets. Promise it will be a blast! A little 
about me, My name is Scott Fowler I live just north of Bay City, Mi right off the Saginaw Bay. I have been 
married to my beautiful wife Belinda since 1987. Have two sons Zachary and Brady both very much into 
the outdoor world. I am an Electrician at Nexteer Automotive, Served in the USAF Missle Maintenance 
Nuclear Weapons Program almost 8 years. Stationed in Grand Forks, N.D.and also Malmstrom AFB, MT. 
My wife and I have hunted all over the Northern United States and into Canada. My passion along with 
my boys is duck and goose hunting.</p>

<p>We are in search of Disabled Veterans (hope to keep adding each year) that meet our Qualifications for 
a guided duck hunt on the Saginaw Bay along with several other opportunities throughout the year. We 
try and accommodate to Active Duty, Reservist’s and Veterans with the space available. Our Non-Profit 
status  groups Combat Wounded Vets with 40% Disability, awarded Purple Hearts and Gold Star Families 
to be able to cover 100% of expenses. However just fill out the profile what applies and let our staff 
work for you. The Patriot Hunt is our Signature hunt and will take place out of Linwood Beach Marina, 
Linwood MI in Nov. of each year. Remember the best waterfowl hunting is in some of the worst 
weather, and so our hunt may be canceled based on recommendations of the team captains and the 
U.S. Coast Guard or DNR. Also remember Information is vital and people will be selected by 
qualifications that allow us to accommodate to the boats that we have available. And not discriminated 
by injury. Before anyone can participate in any event it is the individuals responsibility to send a copy of 
DD form 214 or copy of ID if Active or Reservist. This information is required by the IRS.</p> 

    <p>Qualifications for Combat Wounded- Had been injured during time of military service during combat. Verified by DOD or VA.  And % disability verified by VA letter.</p>
        
        <form id="frmProfile" action="/profile/" method="post">
            <div class="row">
                <div class="col-sm-3">
                    <div clas="form-group">
                        <label>First Name: *</label>
                        <input type="text" class="form-control" required name="firstname" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label>Last Name: *</label>
                        <input type="text" class="form-control" required name="lastname" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>DOB: *</label>
                        <input type="text" class="form-control date" required name="dob" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div clas="form-group">
                        <label>Spouse's First Name: *</label>
                        <input type="text" class="form-control" required name="spousefirstname" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label>Spouse's Last Name: *</label>
                        <input type="text" class="form-control" required name="spouselastname" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Address: *</label>
                        <input type="text" class="form-control" required name="address" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>City: *</label>
                        <input type="text" class="form-control" required name="city" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>State: *</label>
                        <select class="form-control" required name="state">
                            <option value="Alabama ">Alabama </option>
                            <option value="Alaska ">Alaska </option>
                            <option value="Arizona ">Arizona </option>
                            <option value="Arkansas ">Arkansas </option>
                            <option value="California ">California </option>
                            <option value="Colorado ">Colorado </option>
                            <option value="Connecticut ">Connecticut </option>
                            <option value="Delaware ">Delaware </option>
                            <option value="Florida ">Florida </option>
                            <option value="Georgia ">Georgia </option>
                            <option value="Hawaii ">Hawaii </option>
                            <option value="Idaho ">Idaho </option>
                            <option value="Illinois ">Illinois </option>
                            <option value="Indiana ">Indiana </option>
                            <option value="Iowa ">Iowa </option>
                            <option value="Kansas ">Kansas </option>
                            <option value="Kentucky ">Kentucky </option>
                            <option value="Louisiana ">Louisiana </option>
                            <option value="Maine ">Maine </option>
                            <option value="Maryland ">Maryland </option>
                            <option value="Massachusetts ">Massachusetts </option>
                            <option value="Michigan ">Michigan </option>
                            <option value="Minnesota ">Minnesota </option>
                            <option value="Mississippi ">Mississippi </option>
                            <option value="Missouri ">Missouri </option>
                            <option value="Montana ">Montana </option>
                            <option value="Nebraska ">Nebraska </option>
                            <option value="Nevada ">Nevada </option>
                            <option value="New Hampshire ">New Hampshire </option>
                            <option value="New Jersey ">New Jersey </option>
                            <option value="New Mexico ">New Mexico </option>
                            <option value="New York ">New York </option>
                            <option value="North Carolina ">North Carolina </option>
                            <option value="North Dakota ">North Dakota </option>
                            <option value="Ohio ">Ohio </option>
                            <option value="Oklahoma ">Oklahoma </option>
                            <option value="Oregon ">Oregon </option>
                            <option value="Pennsylvania ">Pennsylvania </option>
                            <option value="Rhode Island ">Rhode Island </option>
                            <option value="South Carolina ">South Carolina </option>
                            <option value="South Dakota ">South Dakota </option>
                            <option value="Tennessee ">Tennessee </option>
                            <option value="Texas ">Texas </option>
                            <option value="Utah ">Utah </option>
                            <option value="Vermont ">Vermont </option>
                            <option value="Virginia ">Virginia </option>
                            <option value="Washington ">Washington </option>
                            <option value="West Virginia ">West Virginia </option>
                            <option value="Wisconsin ">Wisconsin </option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Zip: *</label>
                        <input type="text" class="form-control" required name="zip" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label>Email: *</label>
                        <input type="text" class="form-control" required name="email" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Phone: *</label>
                        <input type="text" class="form-control" required name="phone" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Branch:</label>
                        <input type="text" class="form-control" name="branch" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Rank:</label>
                        <input type="text" class="form-control" name="rank" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Medals Awarded:</label>
                        <input type="text" class="form-control" name="medalsawarded" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>What theatres/conflicts did you serve in:</label>
                <textarea class="form-control" name="theatresconflicts"></textarea>
            </div>

            <div class="form-group">
                <label>What Injuries?</label>
                <textarea class="form-control" name="injuries"></textarea>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Date of Injuries:</label>
                        <input type="text" class="form-control date" name="dateofinjuries" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Date of Discharge:</label>
                        <input type="text" class="form-control date" name="dateofdischarge" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Disability Rating:</label>
                        <input type="text" class="form-control" name="disabilityrating" />
                    </div>
                </div>
            </div>


            <label>Your areas of interest:</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name='Big_Game_hunding_Archery'> Big Game hunding - Archery</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name='Big_Game_Hunting_ML'> Big Game Hunting - ML</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name='Big_Game_Hunting_Rifle'> Big Game Hunting - Rifle</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Upland_Bird_Hunting"> Upland Bird Hunting</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Waterfowl_Hunting_Marsh"> Waterfowl Hunting - Marsh</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Waterfowl_Hunting_Layout"> Waterfowl Hunting - Layout</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Turkey_Hunting"> Turkey Hunting</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Lake_Fishing_Trolling"> Lake Fishing - Trolling</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="River_Fishing"> River Fishing</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Fly_Fishing"> Fly Fishing</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Small_Game_Hunting"> Small Game Hunting</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Trapping"> Trapping </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Hiking"> Hiking</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Camping"> Camping</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="ATV_Motorcycle_Riding"> ATV/Motorcycle Riding</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Boating"> Boating</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Shooting"> Shooting</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Golf"> Golf</label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="Out_of_State_Travel"> Out of State Travel</label>
                    </div>
                </div>
            </div>


            <div class="form-group">

                <label>Gender:</label><br />
                <label class="radio-inline">
                    <input type="radio" name="gender" value="male" checked> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="female"> Female
                </label>
            </div>

            <div class="form-group">
                <label>Active:</label><br />
                <label class="radio-inline">
                    <input type="radio" name="active" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="active" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Are you a Reservist:</label><br />
                <label class="radio-inline">
                    <input type="radio" name="reservist" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="reservist" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Do you need a wheel chair?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="wheelchair" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wheelchair" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Do you have traumatic brain injuries?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="brain" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="brain" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Do you get motion sickness?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="motionsickness" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="motionsickness" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Do you have good Temperature toleration levels at wound sites?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="temperaturetoleration" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="temperaturetoleration" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Do you handle inclement weather well?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="inclementweather" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inclementweather" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Do you have PTSD?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="ptsd" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ptsd" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>May we contact you if more info is needed?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="maywecontactyou" value="yes" checked> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="maywecontactyou" value="no"> No
                </label>
            </div>

            <div class="form-group">
                <label>Additional Comments: </label>
                <textarea class="form-control" name="additionalcomments"></textarea>
            </div>

            <p>These questions are too able us to best pair veterans up with hunt groups. More info will be sent as the event comes together and gets finalized. I promise from one Vet to another this will be an Awesome Time!!!! Scott.  I can be contacted anytime at (989)233-3449 or sfbf6667@yahoo.com</p>

            <div class="row">
                <div class="col-xs-12">
                    <div id="formError" class="alert alert-danger" style="display:none;" role="alert">Please make sure that all of the fields marked with an asterisk (*) are filled out.</div>
                    <div id="formSuccess" class="alert alert-success" style="display:none;" role="alert">Thank you. Your submission has been recorded. A representative will be in contact with you shortly.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success btnSubmitProfile pull-right" type="submit"><i class="fa fa-check"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/profile.js"></script>