
    <div class="panel panel-default">
        <div class="panel-body"> 
            <h4 class="pull-left"><i class="fa fa-flag-checkered"></i>&nbsp;Waterfowlers for Warriors 5K</h4>
        
            <h4 class="pull-right">
                <small><i class="fa fa-calendar"></i>&nbsp;Saturday, August 16th 2014<br /> 
                <a target="_blank" href="https://www.google.com/maps/place/135+S+Linwood+Beach+Rd/@43.7340896,-83.9476087,17z/data=!3m1!4b1!4m2!3m1!1s0x8821676e78da24fb:0x82bb8cc9eee8cf67">
                <i class="fa fa-map-marker"></i>&nbsp;135 South Linwood Beach Road, Linwood, MI 48634</a></small>
            </h4>
            
            <div class="clearfix"></div>
            
            <p>Entry Fee: $25.00 Pre-Registration (must be recieved by Aug 9nd) or $29.00 day of the race (Non-refundable/ Non-Transferable).</p> 
               
            <!--<p>To register either click on the link to active.com or download the form, fill it out, and mail it to Scott or Belinda Fowler.</p>-->
            
            <p>For more information or questions click <a href="../contact.html">here</a> and fill out the form or contact either Scott Fowler at (989) 233-3449, 
               Zac Fowler at (989)213-2660, or Andy Fisk at (989)225-6574</p>
               
            <a class="btn btn-success" target="_blank" href="http://m.active.com/5k-race/kawkawlin-mi/2nd-annual-waterfowlers-for-warriors-one-duckin-awesome-5k-run-walk-2014">Register on active.com</a> 
            <p>To register click the above active.com registraion link or download the <a href="../docs/Run_Event_Registration_2014.pdf" target="_blank" download>paper form</a> and mail it to Scott or Belinda Fowler.</p>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body"> 
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#schedule" data-toggle="tab">Schedule</a></li>
                    <li><a href="#info" data-toggle="tab">Info</a></li>
                    <li><a href="#groups" data-toggle="tab">Age Groups</a></li> 
                </ul>
                
                <div class="tab-content">
                    <div class="tab-pane active" id="schedule">
                        <table class="table table-border table-condensed">
                            <tr><td>8:00</td><td>Check in</td></tr>  
                            <tr><td>8:40</td><td>Pre-Race Briefing</td></tr> 
                            <tr><td>9:00</td><td>Race Start</td></tr>
                            <tr><td>10:30</td><td>Race End</td></tr>
                            <tr><td>10:45</td><td>Post Race Wrap Up</td></tr>
                        </table> 
                    </div>
                    <div class="tab-pane" id="info">
                        <strong>Medals: </strong>1-3 places each event, 1-5 places open walking<br />
                        <strong>Timing by: </strong>Miller Race Management<br />
                        <strong>Refreshments: </strong>Ice cold water on course and ice cold water and fruit at finish<br />
                        <strong>Facilities: </strong>Portable restrooms only. Please come dressed to compete<br />
                    </div>
                    <div class="tab-pane" id="groups">
                        14 and Under<br />
                        15-19<br />
                        20-29<br />
                        30-39<br />
                        40-49<br />
                        50-59<br />
                        60 and over<br />
                        Walk: Open 
                    </div> 
                </div>
            </div>
        </div>
    </div> <!--  end col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-6 col-md-6 col-sm-6 -->
    <div class="col-sm-6">
        <video width="320" height="240" controls>
            <source src="../2013_5k.mp4" type="video/mp4">
            Your browser does not support this function.
        </video>
    </div> 
</div>